<section class="service section">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2 i18n>Services</h2>
      </div>
    </div>
    <div class="row">
      <!--  ==== SERVICES ITEM START==== -->
      <div class="service-item padd-15">
        <div class="service-item-inner">
          <div class="icon">
            <i class="fa fa-mobile-alt"></i>
          </div>
          <h4>Web Design</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
            laboriosam dolorem fuga.
          </p>
        </div>
      </div>
      <!--  ==== SERVICES ITEM END==== -->
      <!--  ==== SERVICES ITEM START==== -->
      <div class="service-item padd-15">
        <div class="service-item-inner">
          <div class="icon">
            <i class="fa fa-laptop-code"></i>
          </div>
          <h4>Web Design</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
            laboriosam dolorem fuga.
          </p>
        </div>
      </div>
      <!--  ==== SERVICES ITEM END==== -->
      <!--  ==== SERVICES ITEM START==== -->
      <div class="service-item padd-15">
        <div class="service-item-inner">
          <div class="icon">
            <i class="fa fa-palette"></i>
          </div>
          <h4>Web Design</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
            laboriosam dolorem fuga.
          </p>
        </div>
      </div>
      <!--  ==== SERVICES ITEM END==== -->
      <!--  ==== SERVICES ITEM START==== -->
      <div class="service-item padd-15">
        <div class="service-item-inner">
          <div class="icon">
            <i class="fa fa-code"></i>
          </div>
          <h4>Web Design</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
            laboriosam dolorem fuga.
          </p>
        </div>
      </div>
      <!--  ==== SERVICES ITEM END==== -->
      <!--  ==== SERVICES ITEM START==== -->
      <div class="service-item padd-15">
        <div class="service-item-inner">
          <div class="icon">
            <i class="fa fa-search"></i>
          </div>
          <h4>Web Design</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
            laboriosam dolorem fuga.
          </p>
        </div>
      </div>
      <!--  ==== SERVICES ITEM END==== -->
      <!--  ==== SERVICES ITEM START==== -->
      <div class="service-item padd-15">
        <div class="service-item-inner">
          <div class="icon">
            <i class="fa fa-bullhorn"></i>
          </div>
          <h4>Web Design</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
            laboriosam dolorem fuga.
          </p>
        </div>
      </div>
      <!--  ==== SERVICES ITEM END==== -->
    </div>
  </div>
</section>
