<div #styleSwitcher class="style-switcher">
  <div #styleSwitcherToggle class="style-switcher-toggler s-icon">
    <i class="fas fa-cog fa-spin"></i>
  </div>

  <div #dayNight class="day-night s-icon" (click)="toggleTheme()">
    <i class="fas"></i>
  </div>
  <div class=""></div>
  <div class="languages">
    <h4 i18n>Languages</h4>
    <span class="language-en" (click)="setActiveLanguage()">en</span>
    <span class="language-fr" (click)="setActiveLanguage()">fr</span>
    <span class="language-es" (click)="setActiveLanguage()">es</span>
    <span class="language-it" (click)="setActiveLanguage()">it</span>
    <span class="language-de" (click)="setActiveLanguage()">de</span>
  </div>
  <div class="colors mt-3">
    <h4 i18n>Themes de couleurs</h4>
    <span class="color-1" (click)="setActiveStyle('color-1')"></span>
    <span class="color-2" (click)="setActiveStyle('color-2')"></span>
    <span class="color-3" (click)="setActiveStyle('color-3')"></span>
    <span class="color-4" (click)="setActiveStyle('color-4')"></span>
    <span class="color-5" (click)="setActiveStyle('color-5')"></span>
  </div>
</div>
