<div #styleSwitcher class="style-switcher">
  <div #styleSwitcherToggle class="style-switcher-toggler s-icon">
    <i class="fas fa-cog fa-spin"></i>
  </div>

  <div #dayNight class="day-night s-icon" (click)="toggleTheme()">
    <i class="fas"></i>
  </div>
  <h4>Languages</h4>
  <div class="languages">
    <!--<span class="language-en" (click)="setActiveLanguage('language-en')"></span>
    <span class="language-fr" (click)="setActiveLanguage('language-fr')"></span>
    <span class="language-es" (click)="setActiveLanguage('language-es')"></span>
    <span class="language-it" (click)="setActiveLanguage('language-it')"></span>
    <span class="language-de" (click)="setActiveLanguage('language-de')"></span>
  </div>-->
  <h4>Themes de couleurs</h4>
  <div class="colors">
    <span class="color-1" (click)="setActiveStyle('color-1')"></span>
    <span class="color-2" (click)="setActiveStyle('color-2')"></span>
    <span class="color-3" (click)="setActiveStyle('color-3')"></span>
    <span class="color-4" (click)="setActiveStyle('color-4')"></span>
    <span class="color-5" (click)="setActiveStyle('color-5')"></span>
  </div>
</div>

