<div class="aside">
  <div class="logo">
    <a href="#"><span>A</span>tlas</a>
  </div>
  <div class="nav-toggler">
    <span></span>
  </div>
  <ul class="nav" i18n>
    <li>
      <a
        routerLink="/home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><i class="fa fa-home"></i>Home</a
      >
    </li>
    <li>
      <a
        routerLink="/about"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><i class="fa fa-user"></i>About</a
      >
    </li>
    <li>
      <a
        routerLink="/service"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><i class="fa fa-list"></i>Services</a
      >
    </li>
    <li>
      <a
        routerLink="/portfolio"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><i class="fa fa-briefcase"></i>Portfolio</a
      >
    </li>
    <li>
      <a
        routerLink="/contact"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><i class="fa fa-comments"></i>Contact</a
      >
    </li>
  </ul>
</div>
