<div class="aside">
    <div class="logo">
        <a href="#"><span>A</span>tlas</a>
    </div>
    <div class="nav-toggler">
        <span></span>
    </div>
    <ul class="nav">
        <li><a routerLink="/home" class="active"><i class="fa fa-home"></i>Home</a></li>
        <li><a routerLink="/about"><i class="fa fa-user"></i>About</a></li>
        <li><a routerLink="/service"><i class="fa fa-list"></i>Services</a></li>
        <li><a routerLink="/portfolio"><i class="fa fa-briefcase"></i>Portfolio</a></li>
        <li><a routerLink="/contact"><i class="fa fa-comments"></i>Contact</a></li>
    </ul>
</div>
