<section class="portfolio section">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Portfolio</h2>
            </div>
        </div>
        <div class="row">
            <div class="portfolio-heading padd-15">
                <h2>My Last Projets :</h2>
            </div>
        </div>
        <div class="row">
        <!--  ====== PORTFOLIO ITEM START  =======  -->
        <div class="port-item padd-15">
            <div class="portfolio-item-inner shadow-dark">
                <div class="portfolio-img">
                    <img src="../images/prog_lenguages.jpg" alt="image1">
                </div>
            </div>
        </div>
        <!--  ====== PORTFOLIO ITEM END  =======  -->
          <!--  ====== PORTFOLIO ITEM START  =======  -->
        <div class="port-item padd-15">
            <div class="portfolio-item-inner shadow-dark">
                <div class="portfolio-img">
                    <img src="../images/prog_lenguages.jpg" alt="image2">
                </div>
            </div>
        </div>
        <!--  ====== PORTFOLIO ITEM END  =======  -->
          <!--  ====== PORTFOLIO ITEM START  =======  -->
        <div class="port-item padd-15">
            <div class="portfolio-item-inner shadow-dark">
                <div class="portfolio-img">
                    <img src="../images/prog_lenguages.jpg" alt="image3">
                </div>
            </div>
        </div>
        <!--  ====== PORTFOLIO ITEM END  =======  -->
          <!--  ====== PORTFOLIO ITEM START  =======  -->
        <div class="port-item padd-15">
            <div class="portfolio-item-inner shadow-dark">
                <div class="portfolio-img">
                    <img src="../images/prog_lenguages.jpg" alt="image4">
                </div>
            </div>
        </div>
        <!--  ====== PORTFOLIO ITEM END  =======  -->
          <!--  ====== PORTFOLIO ITEM START  =======  -->
        <div class="port-item padd-15">
            <div class="portfolio-item-inner shadow-dark">
                <div class="portfolio-img">
                    <img src="../images/prog_lenguages.jpg" alt="image5">
                </div>
            </div>
        </div>
        <!--  ====== PORTFOLIO ITEM END  =======  -->
        <!--  ====== PORTFOLIO ITEM START  =======  -->
        <div class="port-item padd-15">
            <div class="portfolio-item-inner shadow-dark">
                <div class="portfolio-img">
                    <img src="../images/prog_lenguages.jpg" alt="image6">
                </div>
            </div>
        </div>
        <!--  ====== PORTFOLIO ITEM END  =======  -->
        </div>
    </div>
</section>
