<div class="main-content">
  <!--   ===== Home Section Start =====-->
  <app-home-section-start></app-home-section-start>
  <!--   ===== Home Section End-->
  <app-home-section-end></app-home-section-end>
  <!--   === About Section Start ====   -->
  <app-about-section-start></app-about-section-start>
  <!--   === About Section End ====   -->
  <app-about-section-end></app-about-section-end>
  <!--   === Service Section Start ====   -->
  <app-service></app-service>
  <!--   === Service Section End ====   -->
  <app-service-end></app-service-end>
  <!--   === Portfolio Section Start ====   -->
  <app-porto-folio-section></app-porto-folio-section>
  <!--   === Portolio Section End ====   -->
</div>
