<section class="home section">
    <div class="container">
        <div class="row">
            <div class="home-info padd-15">
                <h3 class="hello">Salut, mon est&nbsp;<span class="name">Osmany Terry Diaz</span></h3>
                <h3 class="my-profession">Je suis&nbsp;<span class="typing">programmeur analyste.</span></h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur nam beatae provident, voluptatem quibusdam deserunt ipsum accusantium laborum nisi veniam doloremque facere velit consequatur quod dolor inventore. Hic, voluptatibus adipisci?</p>
                <a href="#contact" class="btn hire-me">Plus sur moi</a>
            </div>
            <div class="home-img padd-15">
                <img src="../images/avatar_portfolio.jpg" alt="">
            </div>
        </div>
    </div>
</section>
