<section class="px-5">
    <div class="col-4 coordonness">
        <h5>{{userCoordonnees.name}}</h5>
        <p>{{userCoordonnees.adresse}}</p>
        <p>{{userCoordonnees.ville}}&nbsp;({{userCoordonnees.province}})&nbsp;{{userCoordonnees.CP}}</p>
        <p>{{userCoordonnees.telephone}}</p>
        <p><i>{{userCoordonnees.email}}</i></p>
    </div>
    <div class="col champ-competences">
        <h4>Champs de competétences</h4>
        <hr>
        <ul>
            <li *ngFor="let item of userChampCompetences">
              <!-- Si el item es de tipo Competence y tiene 'Connaissances informatiques' -->
              <ng-container *ngIf="isCompetence(item)">
                <h5>Connaissances informatiques:</h5>
                <ul>
                  <li *ngFor="let competence of item['Connaissances informatiques']">
                    {{ competence }}
                  </li>
                </ul>
              </ng-container>
          
              <!-- Si el item no es una competencia, lo mostramos como texto -->
              <ng-container *ngIf="!isCompetence(item)">
                <p>{{ item }}</p>
              </ng-container>
            </li>
          </ul>  
    </div>
    <div class="col formation-container">
        <h4>Formation acedémique</h4>
        <hr>
        <div class="formation-block" *ngFor="let formation of userFormationAcademique">
            <!-- Primera línea con formación y año -->
            <div class="row d-flex">
                <h5>{{ formation.diplome }}</h5> <!-- Título: diplome -->
                <p><strong>{{ formation.annee }}</strong></p>
            </div>
            
            <!-- Segunda línea con formación y año -->
            <div class="line">
              <p>{{ formation.formationDetails[0].formation }}</p>
              
            </div>
        
            <!-- Tercera línea con centro y ciudad -->
            <div class="line">
              <p>{{ formation.formationDetails[0].centre }}, {{ formation.formationDetails[0].ville }}</p>
            </div>
          </div>
    </div>
</section>
