<section class="about section hidden">
<div class="container">
    <div class="row">
        <div class="section-title padd-15">
            <h2>About us</h2>
        </div>
    </div>
    <div class="row">
        <div class="about-content padd-15">
            <div class="row">
                <div class="about-text padd-15">
                    <h3>Osmany Terry:&nbsp;<span>Analyste Programmeur</span></h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae dolorem ipsum iure ullam ipsa expedita libero mollitia non voluptatem tempore quod consectetur unde soluta, qui accusamus quos. Cupiditate, quisquam exercitationem!
                    Aspernatur consequatur, facere numquam ex sed ipsum laboriosam ullam quia ipsa optio atque vero possimus velit dolore quos provident illo excepturi. Repellendus, deserunt. Consequatur perferendis a at fugiat eius nemo.</p>
                </div>
            </div>
            <div class="row">
                <div class="personal-info padd-15">
                    <div class="row">
                        <div class="info-item padd-15">
                            <p>Anniversaire:&nbsp;<span>21 Octobre</span></p>
                        </div>
                        <div class="info-item padd-15">
                            <p>Site Web:&nbsp;<span>www.moimeme.com</span></p>
                        </div>
                        <div class="info-item padd-15">
                            <p>Email:&nbsp;<span>info&#64;moimeme.com</span></p>
                        </div>
                        <div class="info-item padd-15">
                            <p>Degree:&nbsp;<span>CS</span></p>
                        </div>
                        <div class="info-item padd-15">
                            <p>Phone:&nbsp;<span>+1 (XXX) XXX-XXXX</span></p>
                        </div>
                        <div class="info-item padd-15">
                            <p>Feelnace:&nbsp;<span>Disponible</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="buttons padd-15">
                            <a href="#" class="btn">Télécharger CV</a>
                            <a href="#contact" class="btn hire-me">Hire Me</a>
                        </div>
                    </div>
                </div>
                <div class="skills padd-15">
                    <div class="row">
                        <div class="skill-item padd-15">
                            <h5>JS</h5>
                            <div class="skill-percent">86%</div>
                            <div class="progress">
                                <div class="progress-in" style="width: 86%;"></div>
                            </div>
                        </div>
                        <div class="skill-item padd-15">
                            <h5>PHP</h5>
                            <div class="skill-percent">66%</div>
                            <div class="progress">
                                <div class="progress-in" style="width: 66%;"></div>
                            </div>
                        </div>
                        <div class="skill-item padd-15">
                            <h5>HTML</h5>
                            <div class="skill-percent">96%</div>
                            <div class="progress">
                                <div class="progress-in" style="width: 96%;"></div>
                            </div>
                        </div>
                        <div class="skill-item padd-15">
                            <h5>Bootstrap</h5>
                            <div class="skill-percent">76%</div>
                            <div class="progress">
                                <div class="progress-in" style="width: 76%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="education padd-15">
                    <h3 class="title">Education</h3>
                    <div class="row">
                        <div class="timeline-box padd-15">
                            <div class="timeline shadow-dark">
                                <!--==== timeline item ====-->
                                <div class="timeline-item">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-date">
                                        <i class="fa fa-calendar"></i> 2013 - 2025
                                    </h3>
                                    <h4 class="timeline-title">Master in Computer Science</h4>
                                    <p class="timeline-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit similique earum consectetur. Necessitatibus nulla, exercitationem dolorum, alias adipisci eos vitae obcaecati eum odio odit inventore veritatis dolore quisquam reiciendis voluptatum?</p>
                                </div>
                                <!--==== timeline item ====-->
                                <div class="timeline-item">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-date">
                                        <i class="fa fa-calendar"></i> 2013 - 2025
                                    </h3>
                                    <h4 class="timeline-title">Master in Computer Science</h4>
                                    <p class="timeline-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit similique earum consectetur. Necessitatibus nulla, exercitationem dolorum, alias adipisci eos vitae obcaecati eum odio odit inventore veritatis dolore quisquam reiciendis voluptatum?</p>
                                </div>
                                <!--==== timeline item ====-->
                                <div class="timeline-item">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-date">
                                        <i class="fa fa-calendar"></i> 2013 - 2025
                                    </h3>
                                    <h4 class="timeline-title">Master in Computer Science</h4>
                                    <p class="timeline-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit similique earum consectetur. Necessitatibus nulla, exercitationem dolorum, alias adipisci eos vitae obcaecati eum odio odit inventore veritatis dolore quisquam reiciendis voluptatum?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="experience padd-15">
                    <h3 class="title">Experience</h3>
                    <div class="row">
                        <div class="timeline-box padd-15">
                            <div class="timeline shadow-dark">
                                <!--==== timeline item ====-->
                                <div class="timeline-item">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-date">
                                        <i class="fa fa-calendar"></i> 2013 - 2025
                                    </h3>
                                    <h4 class="timeline-title">Master in Computer Science</h4>
                                    <p class="timeline-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit similique earum consectetur. Necessitatibus nulla, exercitationem dolorum, alias adipisci eos vitae obcaecati eum odio odit inventore veritatis dolore quisquam reiciendis voluptatum?</p>
                                </div>
                                <!--==== timeline item ====-->
                                <div class="timeline-item">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-date">
                                        <i class="fa fa-calendar"></i> 2013 - 2025
                                    </h3>
                                    <h4 class="timeline-title">Master in Computer Science</h4>
                                    <p class="timeline-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit similique earum consectetur. Necessitatibus nulla, exercitationem dolorum, alias adipisci eos vitae obcaecati eum odio odit inventore veritatis dolore quisquam reiciendis voluptatum?</p>
                                </div>
                                <!--==== timeline item ====-->
                                <div class="timeline-item">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-date">
                                        <i class="fa fa-calendar"></i> 2013 - 2025
                                    </h3>
                                    <h4 class="timeline-title">Master in Computer Science</h4>
                                    <p class="timeline-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit similique earum consectetur. Necessitatibus nulla, exercitationem dolorum, alias adipisci eos vitae obcaecati eum odio odit inventore veritatis dolore quisquam reiciendis voluptatum?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
